# dependencies
/node_modules
/.pnp
.pnp.js

# lock files
package-lock.json
pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
/out/

# prod
/build

# debug stuff
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env

# vercel
.vercel

# sitemaps
robots.txt
sitemap.xml
sitemap-*.xml

# other folders
.contentlayer
.vscode
.yarn

# misc
.DS_Store
*.pem